<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="city">
      <h2 data-cy="cityDetailsHeading"><span>City</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Translation missing for global.field.id</span></dt>
        <dd>
          <span>{{ city.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ city.name }}</span>
        </dd>
        <dt><span>Lat</span></dt>
        <dd>
          <span>{{ city.lat }}</span>
        </dd>
        <dt><span>Lng</span></dt>
        <dd>
          <span>{{ city.lng }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/city', city.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
